<!-- prettier-ignore -->
{% extends 'app/base.html' %} 
{% block content %}
<section class="form_page">
  <div class="container">
    <h1>Contact Us</h1>
    <p>
      Have feedback, want to collaborate on a project, or interested in our
      news?
    </p>

    <form method="post" class="general_form">
      {% csrf_token %}
      <div class="form_control">
        <label for="phone">Phone Number</label>
        <!-- prettier-ignore -->
        {{ form.phone_number }}
        <small id="messageHelp" class="form-text text-muted">
          Phone number must be in the format: +1234567890
        </small>
      </div>

      <div class="form_control">
        <label for="interest">What are you interested in?</label>
        <select id="interest" name="interest" required>
          <option value="" disabled selected>Select an option</option>
          <option value="project">Project</option>
          <option value="news">News</option>
          <option value="other">Other</option>
        </select>
      </div>

      <div class="form_control">
        <label for="title">Title of News/Project</label>
        <select id="title" name="title" multiple disabled></select>
      </div>

      <div class="form_control">
        <label for="message">Your Message</label>
        <!-- prettier-ignore -->
        {{ form.message }}
      </div>

      <button type="submit" class="btn">Submit Feedback</button>
    </form>
  </div>
</section>
<script>
  const lang = "{{ request.LANGUAGE_CODE }}";
  console.log(lang);
  $("#interest").on("change", function () {
    if ($(this).val() === "other") {
      $("#title").prop("disabled", true);
    } else {
      $("#title").prop("disabled", false);
    }
    if ($(this).val() === "project") {
      // Clear the select options
      $("#title").html("");
      (async () => {
        await $.get(`/get_projects/?lang=${lang}`, (data) => {
          data.projects.forEach((e) => {
            $("#title").append(`<option value="${e[1]}">${e[0]}</option>`);
          });
        });
      })();
    } else if ($(this).val() === "news") {
      // Clear the select options
      $("#title").html("");
      (async () => {
        await $.get(`/get_news/?lang=${lang}`, (data) => {
          data.news.forEach((e) => {
            $("#title").append(`<option value="${e[1]}">${e[0]}</option>`);
          });
        });
      })();
    } else {
      $("#title").html("");
    }
  });
  $(document).ready(function () {
    $("#title").select2({
      placeholder: "Enter the title",
      allowClear: true,
    });
  });
</script>
{% endblock %}
