{% extends 'app/base.html' %} {% block content %} {% load i18n %}
<section class="hero">
  <div class="container hero_container">
    <div class="hero_video">
      <video autoplay muted loop>
        <source src="{{MEDIA_URL}}/media/480p.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="hero_content">
      <h1>Algorka</h1>
      <p>{% trans 'slogan' %}</p>
      <a href="{% url 'index' %}#about-us" class="btn"
        >{% trans 'about_description' %}</a
      >
    </div>
  </div>
</section>

<!-- Four Option Boxes -->
<section class="options">
  <div class="options_container">
    <a href="{% url 'projects' %}" class="option_link">
      <div class="option_box">
        <h2>{% trans 'projects' %}</h2>
        <p>{% trans 'Explore our latest projects and innovations.' %}</p>
      </div>
    </a>
    <a href="{% url 'courses' %}" class="option_link">
      <div class="option_box">
        <h2>{% trans 'courses' %}</h2>
        <p>{% trans 'Learn CSE courses easier with our study notes.' %}</p>
      </div>
    </a>
    <a href="{% url 'news' %}" class="option_link">
      <div class="option_box">
        <h2>{% trans 'News' %}</h2>
        <!-- prettier-ignore -->
        <p>
          {% trans 'Explore the latest trends and discoveries in tech and science.'%}
        </p>
      </div>
    </a>
    <a href="{% url 'collaboration' %}" class="option_link">
      <div class="option_box">
        <h2>{% trans 'contact' %}</h2>
        <p>{% trans 'Get in touch with us for more information.' %}</p>
      </div>
    </a>
  </div>
</section>
<header id="header">
  <h1>{% trans 'Welcome to Algorka Tech Club' %}</h1>
  <img src="{{MEDIA_URL}}/media/logo.png" alt="" class="logo_about" />
</header>

<main id="about-us">
  <!-- Added About Us Section -->
  <section id="about-us">
    <div class="about-container">
      <h2>{% trans 'Who We Are' %}</h2>
      <p>
        {% trans 'Welcome to' %} <strong>Algorka</strong> ,
        <!-- prettier-ignore -->{% trans ', a technology club founded by students from the Faculty of Advanced Technology and Engineering at Japan University.' %}
      </p>
      <!-- prettier-ignore -->
      <p>
        {% trans "Our objective is to foster creativity, collaboration, and a technological community where members can learn from one another and grow together." %}
      </p>

      <h2>{% trans 'What We Do' %}</h2>
      <!-- prettier-ignore -->
      <p>
        {% trans "We currently have two core teams, and as we grow, more teams will be formed to cover additional fields." %}
      </p>
      <ul>
        <!-- prettier-ignore -->
        <li>
          <strong>{% trans 'Team A:' %}</strong> {% trans 'Focused on Artificial Intelligence, Embedded Devices, and Robotics.' %}
        </li>
        <!-- prettier-ignore -->
        <li>
          <strong>{% trans 'Team B:' %}</strong> {% trans 'Specializing in Software Applications.' %}
        </li>
      </ul>

      <h3>1. {% trans 'projects' %}</h3>
      <!-- prettier-ignore -->
      <p>{% trans 'Algorka offers a platform for members to develop skills, collaborate, and turn ideas into reality. With structured online training, members gain expertise while working on real-world projects and connecting with like-minded peers.' %}</p>
      <!-- prettier-ignore -->
      <p>{% trans 'At Algorka, members can initiate their own projects with full support or join existing ones to gain experience. Whether leading or collaborating, everyone has the opportunity to learn, contribute, and build meaningful solutions, regardless of their skill level.' %}</p>
      <!-- prettier-ignore -->
      <p>{% trans 'Members work within their teams, but many projects involve collaboration across different fields. While members work in their own teams, collaboration across fields is essential to meet the growing need for interdisciplinary teamwork in solving real-world problems.' %}</p>

      <h3>2. {% trans 'courses' %}</h3>
      <!-- prettier-ignore -->
      <p>{% trans 'We offer a collection of documents and materials covering the core subjects of Computer Science and Engineering (CSE), divided into five main modules.' %}</p>
      <!-- prettier-ignore -->
      <p>{% trans 'Our resources are sourced from faculty-provided lecture notes at Vietnam Japan University and other reputable sources, with clear citations. All content is provided in editable formats, allowing you to customize and take notes based on your learning needs.' %}</p>

      <h3>3. {% trans 'News' %}</h3>
      <!-- prettier-ignore -->
      <p>{% trans 'Stay informed about the latest trends and innovations in technology and science. All news articles are written by our members, helping them build skills in research, information synthesis, and technical writing.' %}</p>

      <h2>{% trans 'Get Involved' %}</h2>
      <!-- prettier-ignore -->
      <p>
        {% trans 'We welcome members from all skill levels and backgrounds to join our community. Are you interested in our projects or want to collaborate? Visit our' %} <a href="contact.html">{% trans 'contact' %}</a> {% trans 'page to get in touch.' %}
      </p>
      <!-- prettier-ignore -->
      <p>
        {% trans 'Follow us on social media or visit' %} <a href="http://algorka.com" target="_blank">algorka.com</a> {% trans 'to learn more and get started.' %}
      </p>
    </div>
  </section>
</main>
{% endblock %}
