<!-- prettier-ignore -->
{% extends 'app/base.html' %}
{% block content %}
{% load i18n %}
<section class="form_page">
  <div class="container">
    <h2>{% trans 'Sign In' %}</h2>
    <form action="" method="POST" class="general_form">
      {% csrf_token %}
      <div class="form_control">
        <label for="username" class="form-label">{% trans 'Username' %}</label>
        <input type="text" name="username" />
      </div>
      <div class="form_control">
        <label for="password" class="form-label">{% trans 'Password' %}</label>
        <input type="password" name="password" />
      </div>
      <button type="submit" class="btn">{% trans 'Sign In' %}</button>
      <p class="text-center mt-3">
        {% trans "Don't have an account?" %}
        <a href="{% url 'register' %}" class="text-orange"
          >{% trans "Sign up" %}</a
        >.
      </p>
    </form>
  </div>
</section>

<style>
  .btn-orange {
    background-color: #f57c00;
    color: #fff;
  }
  .btn-orange:hover {
    background-color: #e65100;
  }
</style>
{% endblock %}
