<!-- prettier-ignore -->
{% extends 'app/base.html' %}

{% block content %}
<section class="form_page">
  <div class="container">
    <h2>Sign In</h2>
    <form action="" method="POST" class="general_form">
      {% csrf_token %}
      <div class="form_control">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" />
      </div>
      <div class="form_control">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" />
      </div>
      <button type="submit" class="btn">Sign In</button>
      <p class="text-center mt-3">
        Don't have an account?
        <a href="{% url 'register' %}" class="text-orange">Sign up</a>.
      </p>
    </form>
  </div>
</section>

<style>
  .btn-orange {
    background-color: #f57c00;
    color: #fff;
  }
  .btn-orange:hover {
    background-color: #e65100;
  }
</style>
{% endblock %}
