<!-- prettier-ignore -->
{% extends 'app/base.html' %}
{% load i18n %}
{% block content %}
<section class="singlepost">
  <div class="container singlepost_container">
    <h2>{{n.title}}</h2>
    <div class="post_author">
      <div class="post_author-avatar">
        <img src="{{MEDIA_URL}}{{n.author.avatar.url}}" alt="" />
      </div>
      <div class="post_author-info">
        <h5>{% trans 'By:' %} {{n.author.username}}</h5>
        <small>{{n.created_at|date:"F d, Y - P"}}</small>
      </div>
    </div>

    {% for i in n.combine %} {% if i.type == 'content' %}
    <p>{{i.content}}</p>
    {% elif i.type == 'image' %}
    <div class="singlepost_thumbnail">
      <img src="{{MEDIA_URL}}{{i.image.url}}" alt="" />
    </div>
    {% endif %} {% endfor %}
  </div>
  <!-- Comment Section -->
  <section class="comments">
    <div class="container comments_container">
      <h3>Comments</h3>
      <!-- Comment Form -->
      <form class="comment_form">
        <div class="form_control">
          <textarea
            id="comment"
            name="comment"
            rows="4"
            placeholder="Write your comment here..."
            required></textarea>
        </div>
        <button type="submit" class="btn">Post Comment</button>
      </form>

      <!-- Display Comments -->
      <div class="comment_list">
        {% for c in comments %}
        <div class="comment">
          <div class="comment_author">
            <strong>{{c.author.username}}</strong>
            <small>{{c.created_at|date:"F d, Y - P"}}</small>
          </div>
          <p>{{c.comment}}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</section>
<script>
  const commentForm = document.querySelector(".comment_form");
  const commentList = document.querySelector(".comment_list");

  commentForm.addEventListener("submit", (e) => {
    e.preventDefault();
    const comment = document.querySelector("#comment").value;
    const commentDiv = document.createElement("div");
    commentDiv.classList.add("comment");

    $.ajax({
      type: "POST",
      url: "{% url 'new' n.title|slugify n.pk %}",
      data: {
        comment: comment,
        csrfmiddlewaretoken: "{{csrf_token}}",
      },
      success: function (response) {
        console.log(response);
        commentDiv.innerHTML = `
      <div class="comment_author">
        <strong>{{request.user.username}}</strong>
        <small>${response.comment_time} </small>
      </div>
      <p>${comment}</p>
    `;
        commentList.appendChild(commentDiv);
        commentForm.reset();
      },
    });
  });
</script>
{% endblock %}
