{% extends 'app/base.html' %} {% load i18n %} {% block content %}

<div class="content-wrapper">
  <!-- Filters Section -->
  <div class="filters-section">
    <div class="filter-box bg-white shadow-sm p-2 rounded border">
      <div class="fw-bold small mb-1">Category</div>
      <div class="checkbox-list d-inline-block">
        <label class="me-2"><input type="checkbox" /> All</label>
        <label class="me-2"><input type="checkbox" /> IoT</label>
        <label class="me-2"><input type="checkbox" /> AI</label>
        <label class="me-2"><input type="checkbox" /> Software</label>
        <label class="me-2"
          ><input type="checkbox" /> Something so long .......</label
        >
      </div>
    </div>
    <div
      class="filter-box d-flex align-items-center p-2 bg-white shadow-sm rounded border">
      <!-- Sort Options -->
      <div class="me-3 sort">
        <div class="fw-bold small mb-1">Sort By</div>
        <div class="btn-group btn-group-sm" role="group">
          <button class="btn btn-primary" type="button">Time</button>
          <button class="btn btn-outline-primary" type="button">AZ</button>
        </div>
      </div>

      <!-- Search Input -->
      <div class="flex-grow-1 search">
        <div class="fw-bold small mb-1">Search</div>
        <div class="input-group input-group-sm">
          <input
            type="text"
            class="form-control"
            placeholder="Search news..." />
          <button class="btn btn-primary" type="button">Go</button>
        </div>
      </div>
    </div>

    <div class="filter-box bg-white shadow-sm p-2 rounded border">
      <div class="fw-bold small mb-1">Contact</div>
      <p>
        If you're interested, please contact at
        <a href="{% url 'collaboration' %}">Collaboration</a>
      </p>
    </div>
  </div>
  <!-- News Section -->
  <div class="news-section">
    <div class="news-container">
      {% for news in ns %}
      <a
        class="text-decoration-none text-dark news-card"
        href="{% url 'new' news.title|slugify news.pk %}">
        {% if news.image %}
        <img
          src="{{MEDIA_URL}}{{ news.image.url }}"
          alt="{{ news.title }}"
          class="news-image" />
        {% else %}
        <img
          src="{{MEDIA_URL}}/media/news-default.png"
          alt="{{ news.title }}"
          class="news-image" />
        {% endif %}
        <div class="news-content">
          <div class="label-time">
            <div class="news-labels">
              <!-- prettier-ignore -->
              {{ news.label.first.name }}
            </div>
            <div class="news-time">| {{ news.created_at|date:"F j, Y" }}</div>
          </div>
          <div class="news-title">{{ news.title }}</div>
          <div class="news-footer">By {{ news.author.username }}</div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
