<!-- prettier-ignore -->
{% extends 'app/base.html' %} 
{% block content %}
{% if search %}
<style>
  .menu {
    display: none !important;
  }
</style>
{% endif %}
<section class="search_bar">
  <div class="container search_bar-container">
    <div class="search_input">
      <i class="uil uil-search"></i>
      <input id="search" type="search" name="search" placeholder="Search" />
    </div>
    <button type="submit" class="sbtn" onclick="searchPosts()">Go</button>
  </div>
</section>

<!-- Dropdown Menu Outside Search Bar -->
<section class="topic_menu">
  <div class="container menu">
    <label for="topic-menu" class="topic_label">Filter by Topic:</label>
    <select name="topic" id="topic-menu" onchange="filterByTopic()">
      <option disabled selected value>Select</option>
      {% for label in labels %}
      <option value="{{ label.pk }}">{{ label.name }}</option>
      {% endfor %}
    </select>

    <label for="sort-select" class="sort_label">Sort by:</label>
    <select name="sort" id="sort-select" onchange="sortPosts()">
      <!-- <option disabled selected value>Select</option>
      <option value="time">Time</option>
      <option value="title">Title</option> -->
      {% if sort == "time" %}
      <option disabled value>Select</option>
      <option value="time" selected>Time</option>
      <option value="title">Title</option>
      {% elif sort == "title" %}
      <option disabled value>Select</option>
      <option value="time">Time</option>
      <option value="title" selected>Title</option>
      {% else %}
      <option disabled selected value>Select</option>
      <option value="time">Time</option>
      <option value="title">Title</option>
      {% endif %}
    </select>
  </div>
</section>

<!-- ======================= END OF SEARCH ======================= -->
<!-- ============================================================= -->

<section class="posts">
  <div class="container posts_container">
    {% for p in pr %}
    <article class="post">
      <div class="post_thumbnail">
        <img src="{{MEDIA_URL}}{{ p.image.url }}" />
      </div>
      <div class="post_info">
        {% for label in p.label.all|slice:":3" %}
        <a href="" class="category_button" style="margin-bottom: 3px"
          >{{ label.name }}</a
        >
        {% endfor %}
        <h3 class="post_title">
          <a href="{% url 'project' p.title|slugify p.pk %}">{{ p.title }}</a>
        </h3>
        <p class="post_body">
          <!-- prettier-ignore -->
          {{ p.content|slice:":226" }}{% if p.content|length > 226 %} ...{% endif %}
        </p>
        <div class="post_author">
          <div class="post_author-avatar">
            <img src="{{MEDIA_URL}}{{ p.author.profile.avatar.url }}" alt="" />
          </div>
          <div class="post_author-info">
            <h5>Code: PL002</h5>
            <small>{{ p.created_at|date:"F j, Y - H:i:s" }} </small>
          </div>
        </div>
      </div>
    </article>
    {% endfor %}
  </div>
</section>

<!-- ======================= END OF POSTS ======================= -->
<!-- ============================================================ -->

<section class="catergory_buttons">
  <div class="container category_buttons-container">
    <a href="" class="category_button">Ghibli</a>
    <a href="" class="category_button">Anime</a>
    <a href="" class="category_button">Dummy</a>
    <a href="" class="category_button">Super</a>
    <a href="" class="category_button">Power</a>
    <a href="" class="category_button">Princess</a>
  </div>
</section>
{% endblock %}
