<!-- prettier-ignore -->
{% extends 'app/base.html' %} 
{% block content %}
{% load i18n %}
<section class="singlepost">
  <div class="container singlepost_container">
    <h2>{{p.title}}</h2>
    <div class="post_author">
      <div class="post_author-avatar">
        <img src="{{MEDIA_URL}}{{request.user.avatar.url}}" alt="" />
      </div>
      <div class="post_author-info">
        <h5>{% trans 'By:' %} {{request.user.username}}</h5>
        <small>{{p.created_at}}</small>
      </div>
    </div>
    <div class="singlepost_thumbnail">
      <img src="{{MEDIA_URL}}{{p.image.url}}" alt="" />
    </div>
    <p>{{p.content}}</p>
  </div>
  <!-- Comment Section -->
</section>
{% endblock %}
