{% extends 'member/base.html' %} {% block content %}
<div class="container mt-4">
  <h2 class="text-center mb-3">{{ course.title }}</h2>
  <form
    method="POST"
    enctype="multipart/form-data"
    class="bg-dark p-4 rounded border border-secondary">
    {% csrf_token %}
    <div class="mb-3">
      <label for="title" class="form-label text-light">Title (English)</label>
      <input
        type="text"
        class="form-control bg-dark text-light border-secondary"
        id="title"
        name="title_en"
        value="{{ title_en }}"
        required />
    </div>
    <!-- prettier-ignore -->
    <div class="mb-3">
      <label for="title" class="form-label text-light"
        >Title (Vietnamese)</label
      >
      <input
        type="text"
        class="form-control bg-dark text-light border-secondary"
        id="title"
        name="title_vi"
        value="{% if title_vi %}{{title_vi }}{% endif %}" />
    </div>
    <!-- prettier-ignore -->
    <div class="mb-3">
      <label for="title" class="form-label text-light">Title (Japanese)</label>
      <input
        type="text"
        class="form-control bg-dark text-light border-secondary"
        id="title"
        name="title_jp"
        value="{% if title_jp %}{{ title_jp }}{% endif %}" />
    </div>
    <!-- Multi-select Modules -->
    <div class="mb-3">
      <label for="modules" class="form-label text-light">Select Modules</label>
      <!-- prettier-ignore -->
      <select
              id="modules"
              name="modules"
              class="form-control bg-dark text-light border-secondary"
              multiple>
              {% for m in modules %}
              <option value="{{ m.id }}" {% if m in course.module.all %} selected {% endif %}>{{ m.module }}</option>
              {% endfor %}
            </select>
    </div>
    <div class="mb-3">
      <label for="url" class="form-label text-light">Link</label>
      <input
        type="url"
        class="form-control bg-dark text-light border-secondary"
        id="url"
        name="url"
        value="{{ course.url }}"
        required />
    </div>
    <button type="submit" class="btn btn-outline-warning w-100">
      Updates Course
    </button>
  </form>
</div>
<script>
  $(document).ready(function () {
    $("#modules").select2({
      placeholder: "Select modules",
      allowClear: true,
    });
  });
</script>
{% endblock %}
