:root {
  --color-primary: black;
  --color-primary-light: hsla(24, 91%, 69%, 0.689);
  --color-primary-variant: #5854c7;
  --color-red: #da0f3f;
  --color-red-light: hsl(346, 87%, 46%, 15%);
  --color-green: #007b4a;
  --color-green-light: hsl(156, 100%, 38%, 15%);
  --color-gray-900: rgb(212, 58, 2);
  --color-gray-700: rgb(232, 65, 4);
  --color-gray-300: rgba(242, 242, 254, 0.3);
  --color-gray-200: rgba(242, 242, 254, 0.7);
  --color-white: #f2f2fe;
  --color-bg: #d8d5d5d1;

  --transition: all 300ms ease;

  --container-width-lg: 74%;
  --container-width-md: 88%;
  --form-width: 40%;

  --card-border-radius-1: 0.3rem;
  --card-border-radius-2: 0.5rem;
  --card-border-radius-3: 0.8rem;
  --card-border-radius-4: 2rem;
  --card-border-radius-5: 5rem;
}

/* ====================================== GENERAL ====================================== */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  appearance: 0;
  /* list-style: none; */
  text-decoration: none;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  color: var(--color-primary);
  overflow-x: hidden;
  background: var(--color-bg);
  font-size: 0.9rem;
  height: 100%;
  display: grid;
}

.container {
  width: var(--container-width-lg);
  max-width: 1800px;
  margin-inline: auto;
}

section {
  margin-top: 3rem;
  width: 100vw;
}

/* add to posts on index if there's no featured post. eg. search result page */
/* ADDED AFTER TUTORIAL 1 */
.section_extra-margin {
  margin-top: 7rem;
}

h1, h2, h3, h4, h5 {
  color: black;
  line-height: 1.3;
}

h1 {
  font-size: 3rem;
  margin: 1rem 0;
}

h2 {
  font-size: 1.7rem;
  margin: 1rem 0;
}

h3 {
  font-size: 1.1rem;
  margin: 0.8rem 0.5rem;
}

h4 {
  font-size: 1rem;
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}


/* ====================================== NAV ====================================== */
/* language selection in nav */
.language_select {
  position: relative;
  display: inline-block;
  
  cursor: pointer;
  appearance: none;
}

.language_select select option {
  color: var(--color-primary);
  background-color: var(--color-white);
} 


.custom-dropdown {
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.custom-selected {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: var(--card-border-radius-2);
}

.custom-selected img {
  width: 1.2rem;
  height: auto;
  margin-right: 0.5rem;
}

.custom-options {
  display: none;
  position: absolute;
  left: 0;
  top: calc(100% + 0.5rem);
  background-color: rgb(255 255 255 / 77%);
  border-radius: var(--card-border-radius-1);
  list-style: none;
  margin: 0;
  padding: 0;
  width: max-content;
}

.custom-options li {
  display: flex;
  align-items: center;
  padding: 0.1rem;
  padding-top: 0.2rem;
  cursor: pointer;
  color: var(--color-primary);
}

.custom-options li:hover {
  background-color: #ffffff00;
}

.custom-options img {
  width: 1.2rem;
  height: auto;
  margin-right: 0.5rem;
}

.custom-dropdown.active .custom-options {
  display: block;
}



.settings_icon {
  font-size: 1.5rem;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* other elements in nav */
nav {
  background: var(--color-primary);
  width: 100vw;
  height: 4.5rem;
  position: fixed;
  top: 0;
  z-index: 10;
  box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);
}

nav button {
  display: none;
}

.nav_container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 2rem; */
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  border: 0.3rem solid var(--color-bg);
}

.nav_logo {
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--color-white);
  white-space: 10rem;
}

.nav_main {
  display: flex;
  gap: 6rem;
  align-items: center;
}

.nav_item {
  display: flex;
  align-items: center;
  gap: 5rem;
  justify-content: space-evenly;
  flex-grow: 1;
}

.nav_item a{
  color: var(--color-white);
}

.nav_profile {
  position: relative;
  cursor: pointer;
  
}

.nav_profile ul{
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  transition: var(--transition);
  list-style-type: none;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

/* show nav ul when nav profile is hovered */
/* .nav_profile:hover > ul {
  visibility: visible;
  opacity: 1;
} */

.nav_profile ul.active {
  opacity: 1;
}

.nav_profile ul li a {
  display: flex;
  padding: 0.25rem;
  cursor: pointer;
  background: rgb(255 255 255 / 77%);
  color: var(--color-primary);
  
  width: 100%;
  text-align: center;
}

.profile-text {
  display: flex;
  align-items: center;
}

.setting_avatar {
  width: 1rem;
  height: 1rem;
  border-radius: var(--card-border-radius-5);
  margin-right: 0.5rem;
  border: 0.1rem solid var(--color-primary);
}

.nav_profile ul li:first-child a {
  border-top-right-radius: var(--card-border-radius-1);
  border-top-left-radius: var(--card-border-radius-1);
}

.nav_profile ul li:last-child a {
  border-bottom-right-radius: var(--card-border-radius-1);
  border-bottom-left-radius: var(--card-border-radius-1);
}

.login-text,
.register-text,
.logout-text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.login_icon,
.register_icon,
.logout_icon {
  width: 1.2rem;
  height: 1.2rem;
  object-fit: cover;
}

nav button#close_nav-btn, nav button#open_nav-btn {
  display: none;
  opacity: 0;
}
/* ====================================== ABOUT US ====================================== */
#about-us {
  margin-top: 2rem auto;
  padding: 1.5rem;
  background-color: var(--color-white);
  border-radius: 8px;/
}

header h1 {
  margin: 0rem 10rem;
  margin-top: 3rem;
}

.about-container {
  max-width: 1000px;
  /* Limit content width for better readability */
  margin: 0 auto;
  /* Center the container horizontally */
  padding: 1rem;
  /* Add padding inside the container */
  background-color: var(--color-white);
}

/* Headings inside About Us */
.about-container h2,
.about-container h3 {
  color: var(--color-gray-900);
  /* Green for headings */
  margin-bottom: 1rem;
  text-align: center;
  /* Center headings */
}

/* Unordered Lists in About Us */
.about-container ul {
  margin: 1rem 0;
  padding-left: 1.5rem;
  /* Indent list items */
  list-style-type: disc;
  /* Standard bullet points */
}

/* Paragraphs inside About Us */
.about-container p {
  line-height: 1.6;
  /* Better readability */
  margin-bottom: 1rem;
  /* Space between paragraphs */
}

/* Links inside About Us */
.about-container a {
  color: #4CAF50;
  /* Green links */
  text-decoration: none;
}

.about-container a:hover {
  text-decoration: underline;
  /* Underline on hover */
}
/* ====================================== CATEGORY BUTTON ====================================== */
.category_button {
  background: var(--color-primary-light);
  color: var(--color-primary);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: var(--card-border-radius-2);
  font-weight: 600;
  font-size: 0.8rem;
  text-align: center;
}

.category_button:hover {
  color: var(--color-white);    
}

/* ====================================== GENERAL POST ====================================== */
.post_thumbnail {
  border-radius: var(--card-border-radius-5) 0;
  border: 1rem solid black;
  overflow: hidden;
  margin-bottom: 1.6rem;
}

.post:hover .post_thumbnail img{
  filter: saturate(0);
  transition: filter 500ms ease;
}

.post_author {
  display: flex;
  gap: 1rem;
  margin-top: 1.2rem;
}

.post_author-avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: var(--card-border-radius-3);
  overflow: hidden;
}

/* ====================================== FEATURED POST ====================================== */
.featured {
  margin-top: 8rem;
}

.featured_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.featured .post_thumbnail {
  height: fit-content;
}

/* ====================================== POSTS ====================================== */
.posts_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-bottom: 5rem;
}

/* ====================================== CATEGORY BUTTONS ====================================== */
.category_buttons {
  padding: 4rem;
  border-top: 2px solid var(--color-gray-900);
  border-bottom: 2px solid var(--color-gray-900);
}

.category_buttons-container {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/* ====================================== PAGINATION ====================================== */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pagination button {
  background: var(--color-gray-900);
  color: var(--color-white);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: var(--card-border-radius-2);
  cursor: pointer;
  transition: var(--transition);
  width: 90px;
}

.pagination button:hover {
  background: var(--color-primary-light);
}

.pagination button:disabled {
  background: var(--color-gray-300);
  cursor: not-allowed;
}

#page-info {
  color: var(--color-primary);
  font-weight: 600;
}

#page-select {
  background: var(--color-primary);
  color: var(--color-white);
  padding: 0.5rem;
  border: none;
  border-radius: var(--card-border-radius-2);
  font-size: 1rem;
  cursor: pointer;
  transition: var(--transition);
  text-align: center;
  font-weight: bold;
}

#page-select option {
  background: var(--color-gray-700);
  color: var(--color-white);
  font-size: 1rem;
}

/* ====================================== FOOTER ====================================== */
footer {
  background: var(--color-primary);
  padding: 1rem 0;
  box-shadow: inset 0 1.5rem 1.5rem rgba(0,0,0,0.2);
  margin-top: 5rem;
}

.footer_socials {
  margin-inline: auto;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
}

.footer_socials a {
  background: var(--color-primary);
  color: var(--color-white);
  border-radius: 50%;
  width: 2.3rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_socials a:hover {
  background: rgba(255, 68, 0, 0.655);
  color: var(--color-bg);
}

/* ====================================== SEARCH ====================================== */

/* Search Bar Section */
.search_bar {
  margin-top: 7rem;
  background-color: var(--color-gray-900);
  padding: 1rem 0;
}

.search_bar-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.search_input input {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--color-gray-800);
  color: var(--color-white);
}

.search_bar-container .btn {
  padding: 0.5rem 1.5rem;
  background-color: var(--color-primary);
  border: none;
  border-radius: 0.5rem;
  color: var(--color-white);
  cursor: pointer;
}

/* Topic Dropdown */
.topic_menu {
  margin-top: 2rem;
  /* Adjust margin to space it from the navbar */
  position: relative;
  /* Ensure it stays in the normal document flow */
  z-index: 1;
  /* Prevent it from being hidden under other elements */
}

.topic_menu .container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.topic_label {
  font-size: 1rem;
  color: var(--color-primary);
}

.topic_menu select {
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-gray-700);
  background-color: var(--color-gray-900);
  /* Better contrast for visibility */
  color: var(--color-white);
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.sort_label {
  font-size: 1rem;
  color: var(--color-primary);
}

body,
input,
select,
button {
  font-family: 'Montserrat', sans-serif;
}

/* Style the search bar */
.search-bar {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 1.5rem;
}

/* Label styling */
.search-label {
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-primary);
  margin-bottom: 0.5rem;
}

/* Custom Select2 container */
.projects-page .select2-container {
  width: 100% !important;
}

.projects-page .select2-selection--multiple {
  background-color: var(--color-primary-light);
  border: 1px solid var(--color-gray-300);
  border-radius: var(--card-border-radius-2);
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--color-primary);
  min-height: 45px;
  box-sizing: border-box;
  margin-top: 4rem;
}

.projects-page .select2-container--default .select2-selection--multiple {
  background-color: var(--color-primary-light);
  border: 1px solid var(--color-bg);
  border-radius: 4px;
  cursor: text;
}

/* ====================================== SINGLE POST ====================================== */
.singlepost {
  margin: 6rem 0 2rem;
}

.singlepost_container {
  width: var(--form-width);
  background: rgb(212 58 2 / 81%);
  padding: 1rem 2rem 3rem;
}

.singlepost_thumbnail {
  margin: 1.5rem 0 1rem;
}

.singlepost_container p {
  margin-top: 1rem;
  line-height: 1.7;
  color: var(--color-white);
}

#floating-box {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 1rem;
  border-radius: var(--card-border-radius-2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: bottom 0.3s ease;
  width: 265px;
}

#floating-box a {
  color: var(--color-white);
  text-decoration: underline;
}

#floating-box a:hover {
  color: var(--color-primary-light);
}

#floating-box .short-text {
  display: none;
}

/* Comment Section */
.comments {
  margin-top: 3rem;
  padding: 2rem 0;
  background: var(--color-white);
  border-top: 2px solid var(--color-gray-900);
}

.comments_container {
  max-width: 800px;
  margin: 0 auto;
}

.comments h3 {
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.comment_form {
  margin-bottom: 2rem;
}

.comment_form .form_control {
  margin-bottom: 1rem;
}

.comment_form label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--color-primary);
}

.comment_form input,
.comment_form textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid var(--color-gray-300);
  border-radius: var(--card-border-radius-2);
  background: var(--color-white);
  color: var(--color-primary);
}

.comment_form textarea {
  resize: vertical;
}

.comment_form button {
  background: var(--color-primary);
  color: var(--color-white);
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: var(--card-border-radius-2);
  cursor: pointer;
  transition: var(--transition);
}

.comment_form button:hover {
  background: var(--color-primary-light);
}

.comment_list {
  margin-top: 2rem;
}

.comment {
  background: var(--color-bg);
  padding: 1rem;
  border-radius: var(--card-border-radius-2);
  margin-bottom: 1rem;
}

.comment_author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.comment_author strong {
  color: var(--color-primary);
}

.comment_author small {
  color: var(--color-gray-700);
}

.comment p {
  margin: 0;
  color: var(--color-primary);
}
/* ======================================CONTACT PAGE====================================== */
.form_page {
  max-width: 800px;
  margin: 5rem auto;
  padding: 2rem;
  background-color: var(--color-white);
  border-radius: var(--card-border-radius-3);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 10rem;
}

.form_page h1 {
  font-size: 2rem;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.form_page p {
  font-size: 1rem;
  color: var(--color-gray-900);
  margin-bottom: 2rem;
}

/*  CONTACT FORM  */
.general_form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form_control {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
}

.form_control label {
  font-weight: 600;
  color: var(--color-primary);
}

.general_form input,
.general_form textarea {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  padding: 0.8rem;
  border-radius: var(--card-border-radius-2);
  border: 1px solid var(--color-gray-300);
  background-color: var(--color-primary-light);
  color: var(--color-primary);
  font-size: 1rem;
}

.general_form textarea {
  resize: vertical;
  min-height: 120px;
}

.general_form input:focus,
.general_form textarea:focus {
  border-color: var(--color-primary-variant);
  outline: none;
}

.general_form .select2-container .select2-selection--multiple {
  background-color: var(--color-primary-light);
  border: 1px solid var(--color-gray-300);
  border-radius: var(--card-border-radius-2);
  padding: 0.8rem;
  font-size: 1rem;
  color: var(--color-primary);
  min-height: 45px;
  display: flex;
  align-items: center;
}

.general_form .select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: var(--color-gray-700);
  color: var(--color-white);
  border-radius: var(--card-border-radius-2);
  padding: 0.3rem 0.5rem;
  font-size: 0.9rem;
  margin-right: 0.3rem;
}

.general_form .select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: var(--color-primary-variant);
  color: var(--color-white);
}

.general_form .select2-container--default .select2-results__option[aria-selected="true"] {
  background-color: var(--color-primary-light);
  color: var(--color-primary);
  padding: 0.8rem;
  border-radius: var(--card-border-radius-2);
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.select2-container {
  width: auto !important;
}

/* ================= BUTTON STYLING ================== */
.general_form .btn {
  padding: 0.8rem;
  background-color: var(--color-gray-700);
  color: var(--color-white);
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: var(--transition);
  border-radius: var(--card-border-radius-2);
}

.general_form .btn:hover {
  background-color: var(--color-primary-variant);
}

.general_form input,
.general_form textarea,
.general_form select,
.general_form .btn {
  width: 100%;
  padding: 0.8rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  border-radius: var(--card-border-radius-2);
  box-sizing: border-box;
}

/* form image upload (sign up) */
.custom-file-input {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  background-color: var(--color-primary-light);
  border-radius: 0.5rem;
  cursor: pointer;
  position: relative;
  padding-left: 1rem;
}

.custom-file-input input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-file-input i {
  font-size: 1.5rem;
  color: gray;
}

.custom-file-input span {
  color: gray;
}
/* ====================================== CATEGORY POST ====================================== */
.category_title {
  height: 15rem;
  margin-top: 4.5rem;
  background: var(--color-gray-900);
  display: grid;
  place-items: center;
}

/* ====================================== EMPTY PAGES ====================================== */
.empty_page {
  height: 70vh;
  text-align: center;
  display: grid;
  place-content: center;
}

/* ====================================== SIGNIN/ SIGNUP ====================================== */
.form_section {
  display: grid;
  place-items: center;
  /* height: 100vh; */
  margin-top: 7rem;
}

.form_section-container {
  width: var(--form-width);
  height: max-content;
}

.alert_message {
  background: red;
  padding: 0.8rem 1.4rem;
  margin-bottom: 1rem;
  border-radius: var(--card-border-radius-2);
}

.alert_message.error {
  background: var(--color-red-light);
  color: var(--color-red);
}

.alert_message.success {
  background: var(--color-green-light);
  color: var(--color-green);
}

/* center text of alert. eg. empty category-posts page */
/* ADDED AFTER TUTORIAL 1 */
.alert_message.lg {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form_control {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.form_control.inline {
  flex-direction: row;
  align-items: center;
}

input, textarea, select {
  padding: 0.8rem 1.4rem;
  background-color: var(--color-primary);
  border-radius: var(--card-border-radius-2);
  resize: none;
  color: var(--color-white);
}

.form_section small {
  margin-top: 1rem;
  display: block;
}

.form_section small a {
  color: var(--color-primary);
}

.form_section button {
  padding: 0.8rem 1.4rem;
  background-color: var(--color-gray-700);
  color: var(--color-white);
  border: none;
  border-radius: var(--card-border-radius-2);
  cursor: pointer;
}

.signin_border {
  padding: 1rem;
  padding-bottom: 1rem;
  border-radius: var(--card-border-radius-3);
  background-color: var(--color-primary-light);
  max-width: 700px;
  width: 90%;
  margin: 1rem;
  margin-bottom: 5rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


/* ====================================== DASHBOARD ====================================== */
.dashboard {
  margin-top: 6rem;
}

.sidebar_toggle {
  display: none;
}

.dashboard_container {
  display: grid;
  grid-template-columns: 14rem auto;
  gap: 1rem;
  background: var(--color-primary-light);
  padding: 2rem;
  margin-bottom: 5rem;
  list-style: none;
  ul {
      list-style-type: none;
  }
}

.dashboard aside a {
  background-color: var(--color-gray-300);
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1.6rem;
}

.dashboard aside ul li:not(:last-child) a {
  border-bottom: 1px solid var(--color-gray-900);
}

.dashboard aside a:hover {
  background: var(--color-gray-700);
}

.dashboard aside a.active {
  background-color: var(--color-gray-900);
}

.dashboard main {
  margin-left: 1.5rem;
}

.dashboard main h2 {
  margin:  0 0 2rem 0;
  line-height: 1;
}

.dashboard main table {
  width: 100%;
  text-align: left;
}

.dashboard main table th {
  background: var(--color-gray-700);
  padding: 0.8rem;
  color: var(--color-white);
}

.dashboard main table td {
  padding: 0.8rem;
  border-bottom: 1px solid var(--color-gray-200);
}

.dashboard main table tr:hover td {
  background-color: var(--color-bg);
  color: var(--color-white);
  cursor: default;
  transition: var(--transition);
}

/* ====================================== MEDIA QUERIES (MEDIUM DEVICES) ====================================== */
@media screen and (max-width: 1024px) {
  /* ================== GENRERAL ================== */
  .container {
      width: var(--container-width-md)
  }

  h2 {
      font-size: 1.6rem;
  }

  h3 {
      font-size: 1.2rem;
  }

  h5 {
      font-size: 0.8rem;
  }

  /* ================== NAV ================== */
  nav button {
      display: inline-block;
      font-size: 1.5rem;
      background: transparent;
      color: var(--color-white);
      cursor: pointer;
  }

  nav button#open_nav-btn {
      display: inline-block;
      opacity: 1;
  }

  nav button#close_nav-btn {
     display: none;
     opacity: 1;
  }

  .nav_container {
      position: relative;
      flex-wrap: wrap
  }

  .nav_main {
  display: contents;
  }

  .nav_item {
      position: absolute;
      flex-direction: column;
      top: 100%;
      right: 0;
      gap: 0;
      display: none;
  }

  .nav_item li {
      width: 100%;
      padding: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      animation: animateDropdown 1s ease forwards;
      opacity: 0;
      text-align: center;
      transform-origin: top;
      background-color: rgb(255 255 255 / 88%);
      
  }
  

  /* nav dropdown animation */
  @keyframes animateDropdown {
      0% {
          transform: rotateX(90deg);
      }
      100% {
          transform: rotateX(0deg);
          opacity: 1;
      }
  }

  .language_select select:hover {
      background-color: var(--color-gray-700);
  }
      
  .settings_icon {
      padding: 0rem 1rem;
      color: var(--color-primary);
  }
  .nav_profile {
      padding: 0;
      margin: 0;
      /* width: 100%; */
  }

  /* animation delay on each item */
  .nav_item li:nth-child(1) {
      display: none;
  }
  .nav_item li:nth-child(2) {
      display: inline;
  }
  .nav_item li:nth-child(3) {
      animation-delay: 400ms;
  }
  .nav_item li:nth-child(4) {
      animation-delay: 600ms;
  }
  .nav_item li:nth-child(5) {
      animation-delay: 800ms;
  }

  .nav_item li:nth-child(6) {
      animation-delay: 1000ms;
  }

  .nav_item li a{
      border-radius: 0;
      width: 50%;
      color: var(--color-primary);
      padding: 0 ;
      display: flex;
      align-items: center;
  }

  .nav_profile .avatar {
      margin-left: 2rem;
      border: 0;
  }

  .featured_container {
      gap: 3rem;
  }

  .posts_container {
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
  }

  .footer_container {
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
  }

  /* ========= BLOG ========= */
  .search_bar-container {
      width: 60%;
  }

  /* ========= SINGLE POST ========= */
  .singlepost {
      margin-top: 6rem;
  } 

  /* ========= GENERAL FORM ========= */
  .form_section-container {
      padding: 3rem;
  }

  .form_section {
      height: 80vh;
  }

  @media  screen and (max-height: 700px) {
      .form_section {
          height: 130vh;
      }
      
  }

  @media  screen and (max-width: 550px) {
      .form_section {
          height: 130vh;
      }
      
  }
  /* ========= CONTACT========= */
  .form-contain-page {
      background-color: var(--color-white);
  }

  .form_page {
      background-color: var(--color-white);
      padding-bottom: 4rem;
      padding-left: 0;
      padding-right: 0;
      box-shadow: var(--color-white);
      border-radius: 0;
      padding-top: 0;
  }

  @media  screen and (max-height: 550px) {
      .form_page {
          padding: 0;
          margin: 0;
      }
  
      .general_form input,
      .general_form textarea,
      .general_form ::selection {
          font-size: 0.9rem;
      }
      
  }

  /* ========= DASHBOARD ========= */
  .dashboard_container {
      grid-template-columns: 4.3rem auto;
      padding: 0;
      background: transparent;
  }

  .dashboard aside h5 {
      display: none;
  }

  .dashboard main table thead {
      display: none;
  }

  .dashboard main table tr {
      display: flex;
      flex-direction: column;
  }

  .dashboard main table tr:nth-child(even) {
      background: var(--color-gray-900);
  }
  .dashboard main table tr:hover td {
      background: transparent;
  }
}

/* ====================================== MEDIA QUERIES (SMALL DEVICES) ====================================== */
@media screen and (max-width: 600px) {
  section {
      margin-top: 2rem;
  }

  h1 {
      font-size: 2rem;
  }

  .featured {
      margin-top: 6rem;
  }

  .featured_container {
      grid-template-columns: 1fr;
      gap: 0;
  }

  .posts_container {
      grid-template-columns: 1fr;
  }

  .category_buttons-container {
      grid-template-columns: 1fr 1fr;
  }

  .footer_container {
      grid-template-columns: 1fr 1fr;
      text-align: center;
      align-items: center;
      gap: 2rem;
  }

  /* ========= BLOG ========= */
  .search_bar-container {
      width: var(--container-width-md);
  }

  /* ========= SINGLE POST ========= */
  .singlepost_container {
      background-color: transparent;
      padding:0;
  }

  .singlepost_container p {
      color: black;
  }  

  #floating-box .full-text {
      display: none; 
  }

  #floating-box .short-text {
      display: block; 
  }

  #floating-box {
      padding: 0.5rem; /* Reduce padding for smaller text */
      width: 70px; 
      background-color: var(--color-gray-900);
  }

  /* ========= GENERAL FORM ========= */
  .form_section-container {
      padding: 1rem;
  }

  .form_section {
      height: 70vh;
      display: block;
  }

  @media screen and (max-height: 740px) {
      .form_section {
          height: 110vh;
      }
  }    
  h2 {
      font-size: 1.5rem;
  }
      
  input, button {
      padding: 0.8rem;
  }
      
  .alert_message {
      font-size: 0.9rem;
  }

  .signin_border {
  padding: 0rem;
  padding-bottom: 1rem;
  border-radius: var(--card-border-radius-3);
  background-color: var(--color-primary-light);
  max-width: 700px;
  width: 90%;
  margin: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  /* ========= DASHBOARD ========= */
  .dashboard {
      margin-top: 5rem;
  }

  .dashboard_container {
      grid-template-columns: 1fr;
      gap: 0;
  }

  .dashboard main {
      margin: 0;
  }

  .dashboard main h2 {
      margin-top: 1rem;
  }

  .dashboard aside {
      position: fixed;
      box-shadow: 2rem 0 4rem rgba(0,0,0,0.4);
      left: -100%;
      height: 100vh;
      transition: var(--transition);
      background: var(--color-primary);
  }

  .dashboard .sidebar_toggle {
      display: inline-block;
      background: var(--color-primary-variant);
      color: var(--color-white);
      position: fixed;
      right: 0;
      bottom: 4rem;
      z-index: 1;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50% 0 0 50%;
      font-size: 1.3rem;
      cursor: pointer;
      box-shadow: -1rem 0 2rem rgba(0,0,0,0.4);
  }

  .dashboard aside a h5 {
      display: inline-block;
  }

  #hide_sidebar btn {
      display: none;
  }

}


/* homepage */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80vh;
  background-color: var(--color-bg);
  margin-top: 3rem;
  margin-bottom: 0rem;
  padding-bottom: 0rem;
}

.hero_container {
display: flex;
  gap: 7rem;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 1200px;
  margin: 0;
  padding: 0 0rem;
  margin-top: 2rem;
}

.hero_video video {
  width: 100%;
  max-width: 560px;
  height: auto;
}

.hero_video iframe {
  width: 100%;
  max-width: 560px;
  height: 315px;
  border-radius: var(--card-border-radius-3);
}

.hero_content {
  flex: 1;
  color: black;
  text-align: left;
}

.hero_content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero_content p {
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.hero_content .btn {
  display: inline-block;
  padding: 0.8rem 1.6rem;
  background-color: rgb(212, 58, 2);
  color: var(--color-white);
  text-decoration: none;
  border-radius: var(--card-border-radius-2);
  transition: var(--transition);
}

.hero_content .btn:hover {
  background-color: var(--color-primary-light);
}

/* Options Section */
.options {
  margin-top: 0rem;
  padding-top: 0rem;
  background-color: var(--color-bg);
}

.options_container {
  margin-top: 0rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
  max-width: 100%;
}

.option_box {
  text-align: center;
  background-color: rgb(212, 58, 2);
  color: var(--color-white);
  /* padding: 2rem; */
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.option_box:hover {
  background-color: rgba(255, 68, 0, 0.655);
  color: black;
}

.option_box a {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  align-content: center;
}

.option_box:hover a {
  color: var(--color-bg);
}

.option_box p {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: var(--color-white);
}

/* Responsive Design */
@media (max-width: 768px) {
  .options_container {
      grid-template-columns: 1fr;
  }

  .hero_container {
      margin-top: 0rem;
      flex-direction: column;
      gap: 2rem;
  }

  header h1 {
      margin: 1rem 2rem;
  }

  .about-container {
      padding: 1rem;
  }

  #about-us {
      margin-left: 0rem;
      padding-left: 0rem;
  }
}

/* COURSE */
/* Courses Section */
.courses_section {
  margin: 2rem 0;
}

.courses_section h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.courses_section h3 {
  color: var(--color-gray-900);
}

.courses_content {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  min-height: 40vh;
}

/* Recent Courses (Left) */
.recent_courses {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.course {
  background-color: var(--color-primary);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.course-info {
  display: inline-block;
  align-items: center;
  width: 50%;
  align-items: center;
}

.author {
  float: right;
  display: inline-block;
  align-items: center;
  gap: 0.5rem;
  margin-right: 0;
  
}
.course h3 {
  margin: 0.75rem 0 0.25rem;
}

.course small {
  font-size: 0.9rem;
  color: var(--color-gray-300);
}

/* Goal Box (Right) */
.course_goal {
  flex: 1;
  background-color: gray;
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--color-bg);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  height: 275px;
  position: sticky;
  /* Keep the section fixed */
  top: 6rem;
  /* Adjust to align below the navbar */
  overflow-y: auto;
  /* Enable scrolling within this section */
}

.course_goal h4 {
  margin-bottom: 0.5rem;
  color: var(--color-primary);
}

.course_goal p {
  font-size: 1rem;
  line-height: 1.5;
}

.course_goal article {
  color: var(--color-primary);
  background-color: var(--color-primary-light);
}

.course_goal h3 {
  color: var(--color-primary);
}

/* Prettier scrollbar for Updated Courses */
.course_goal::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
}

.course_goal::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-700);
  /* Color of the scrollbar thumb */
  border-radius: 10px;
  /* Rounded corners for the thumb */
  border: 2px solid var(--color-primary-light);
  /* Border for the thumb */
}

.course_goal::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-gray-900);
  /* Darker color on hover */
}

.course_goal::-webkit-scrollbar-track {
  background-color: var(--color-gray-900);
  /* Background color of the scrollbar track */
  border-radius: 10px;
  /* Rounded corners for the track */
}

/* Preview Icon */
.preview-icon {
  font-size: 0.9rem;
  color: var(--color-white);
  cursor: pointer;
  position: relative;
}

/* Tooltip (Preview Text) */
.preview-icon::after {
  content: attr(data-preview);
  position: absolute;
  top: -30px;
  /* Adjust position above the icon */
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-gray-900);
  color: var(--color-white);
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  white-space: nowrap;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
}

/* Show tooltip on hover */
.preview-icon:hover::after {
  opacity: 1;
  visibility: visible;
}
/* Message range */
/* 🔥 Make messages fixed below navbar */
.messages {
  position: fixed;
  top: 75px; /* Adjust based on navbar height */
  left: 50%;
  transform: translateX(-50%);
  width: 90%; /* Responsive width */
  max-width: 600px; /* Prevents stretching on large screens */
  z-index: 1050; /* Ensures it stays above everything */
}

/* General Message Styles */
.messages div {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border-radius: 6px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  position: relative;
  transition: opacity 0.3s ease-in-out;
}

/* Common Icon Style */
.messages i {
  font-size: 18px;
  margin-right: 10px;
}

/* Close Button */
.messages .btn-close {
  margin-left: auto;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* 🔴 Error Messages */
.error-messages {
  background-color: #f8d7da;
  color: #842029;
  border-left: 5px solid #dc3545;
}

.error-messages i {
  color: #dc3545;
}

/* 🟠 Warning Messages */
.warning-messages {
  background-color: #fff3cd;
  color: #856404;
  border-left: 5px solid #ffc107;
}

.warning-messages i {
  color: #ffc107;
}

/* 🔵 Info Messages */
.info-messages {
  background-color: #d1ecf1;
  color: #0c5460;
  border-left: 5px solid #17a2b8;
}

.info-messages i {
  color: #17a2b8;
}

/* 🟢 Success Messages */
.success-messages {
  background-color: #d4edda;
  color: #155724;
  border-left: 5px solid #28a745;
}

.success-messages i {
  color: #28a745;
}
.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  font-size: 1.5rem;
  color: var(--color-primary);
  width: 100%;
}
.no-data > i {
  margin-right: 0.5rem;
}
.no-data > p {
  font-size: 1.5rem;
  color: var(--color-primary);
  font-style: italic;
}
/* span aria-disable */
span[aria-disabled="true"] {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}
/* Page form */
.page-form {
  display: unset !important;
}